<nav class="fixed left-0 top-0 z-50 w-full bg-main">
  <div
    class="flex flex-col md:container md:flex-row md:items-center md:justify-between"
  >
    <a class="ml-[14px] block md:ml-0" href="../pages/index.html">
      <h1>
        <img
          class="logo py-4"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
          alt="logo"
        />
      </h1>
    </a>
    <ul
      class="flex flex-wrap leading-normal text-white md:w-auto md:flex-row md:flex-nowrap md:justify-between md:gap-12 md:text-xl"
    >
      <li class="w-1/2 md:w-auto">
        <a class="navbar-list" href="./home-2.html">系列鏡框</a>
      </li>
      <li class="w-1/2 md:w-auto">
        <a class="navbar-list" href="./home-4.html">門市據點</a>
      </li>
      <li class="w-1/2 md:w-auto">
        <a class="navbar-list" href="./home-7.html">部落格</a>
      </li>
      <li class="w-1/2 md:w-auto">
        <a class="navbar-list" href="./home-6.html">常見問題</a>
      </li>
    </ul>
  </div>
</nav>
